<div class=container>
  <div class=row>
    <div class="col-md-6 col-md-offset-3">
    <h1>welcome to <span class="glyphicon glyphicon-book" aria-hidden="true"></span><strong>Bookers</strong> !!</h1>
    <p>In <span class="glyphicon glyphicon-book" aria-hidden="true"></span><strong>Bookers</strong>,
    you can share and exchange your opinions , inpressions , and emotions</p>
    <p>about various books!</p>
    <%= link_to "Log in",new_user_session_path,class: "btn btn-info btn-lg btn-block" %>
    <%= link_to "Sign up",new_user_registration_path,class: "btn btn-success btn-lg btn-block" %>
</div>
</div>
</div>